In [3]:
import graphlab
import pandas as pd

In [50]:
data = pd.read_csv('ensemble.csv')

In [51]:
data.head()

       id  rec     page_rank  avg_neighbour_deg   cc  out  in_deg    label
0  287144  0.0  3.139258e-06                3.5  0.0    0      10  address
1  287145  0.0  8.378010e-07                3.0  0.0    0       1  address
2  287146  0.0  8.378010e-07                3.0  0.0    0       1  address
3  287147  0.0  9.740000e-07                2.0  0.0    0       1  address
4  287140  0.0  9.740000e-07                2.0  0.0    0       1  address

In [52]:
data2 = graphlab.SFrame(data)

In [53]:
data2.head()

Columns:
	id	int
	rec	float
	page_rank	float
	avg_neighbour_deg	float
	cc	float
	out	int
	in_deg	int
	label	str

Rows: 10

Data:
+----------+-----+-------------------+-------------------+-----+-----+--------+
|    id    | rec |     page_rank     | avg_neighbour_deg |  cc | out | in_deg |
+----------+-----+-------------------+-------------------+-----+-----+--------+
|  287144  | 0.0 | 3.13925803276e-06 |        3.5        | 0.0 |  0  |   10   |
|  287145  | 0.0 | 8.37800961304e-07 |        3.0        | 0.0 |  0  |   1    |
|  287146  | 0.0 | 8.37800961304e-07 |        3.0        | 0.0 |  0  |   1    |
|  287147  | 0.0 |      9.74e-07     |        2.0        | 0.0 |  0  |   1    |
|  287140  | 0.0 |      9.74e-07     |        2.0        | 0.0 |  0  |   1    |
|  287141  | 0.0 |      9.74e-07     |        2.0        | 0.0 |  0  |   1    |
|  287143  | 0.0 | 6.23802417043e-07 |        14.0       | 0.0 |  0  |   1    |
| 12154829 | 0.0 | 5.65439177699e-07 |        2.0        | 0.0 |  2  |   0    |
|  287148  | 0.0 |      9.74e-07     |        2.0        | 0.0 |  0  |   1    |
|  287149  | 0.0 | 2.19960987933e-06 |        2.0        | 0.0 |  0  |   4    |
+----------+-----+-------------------+-------------------+-----+-----+--------+
+----------+
|  label   |
+----------+
| address  |
| address  |
| address  |
| address  |
| address  |
| address  |
| address  |
| officers |
| address  |
| address  |
+----------+
[10 rows x 8 columns]

In [54]:
x = data2.column_names()

In [55]:
print x

['id', 'rec', 'page_rank', 'avg_neighbour_deg', 'cc', 'out', 'in_deg', 'label']

In [62]:
features2= x[2:-1]

In [63]:
print features2

['page_rank', 'avg_neighbour_deg', 'cc', 'out', 'in_deg']

In [70]:
simple_clustering = graphlab.kmeans.create(data2, features=features2, num_clusters=4, label='id')

Batch size is larger than the input dataset. Switching to an exact Kmeans method.

Choosing initial cluster centers with Kmeans++.

+---------------+-----------+

| Center number | Row index |

+---------------+-----------+

| 0             | 14286     |

| 1             | 361125    |

| 2             | 444665    |

| 3             | 908089    |

+---------------+-----------+

Starting kmeans model training.

Assigning points to initial cluster centers.

+-----------+-------------------------------+

| Iteration | Number of changed assignments |

+-----------+-------------------------------+

| 1         | 1161                          |

| 2         | 14                            |

| 3         | 0                             |

+-----------+-------------------------------+

In [71]:
simple_clustering.summary()

Class                            : KmeansModel

Schema
------
Number of clusters               : 4
Number of examples               : 1040283
Number of feature columns        : 5
Number of unpacked features      : 5
Row label name                   : id

Training Summary
----------------
Training method                  : elkan
Number of training iterations    : 3
Batch size                       : 1040283
Total training time (seconds)    : 11.8853

Accessible fields
-----------------
cluster_id                      : An SFrame containing the cluster assignments.
cluster_info                    : An SFrame containing the cluster centers.

In [72]:
simple_clustering.cluster_info

Columns:
	cc	float
	in_deg	float
	out	float
	avg_neighbour_deg	float
	page_rank	float
	cluster_id	int
	size	int
	sum_squared_distance	float

Rows: 4

Data:
+-----------------+---------------+---------------+-------------------+
|        cc       |     in_deg    |      out      | avg_neighbour_deg |
+-----------------+---------------+---------------+-------------------+
| 0.0429943031224 | 5.12715682675 | 4.46904515569 |   12005.5492698   |
| 0.0433539975921 | 4.24284979095 | 4.23571443788 |   226.065471193   |
| 0.0428994513961 | 4.06858320157 |  4.354070241  |   5166.08420371   |
| 0.0436267525126 | 4.75447824851 | 4.49083025306 |   20277.3362146   |
+-----------------+---------------+---------------+-------------------+
+-------------------+------------+--------+----------------------+
|     page_rank     | cluster_id |  size  | sum_squared_distance |
+-------------------+------------+--------+----------------------+
| 9.36646618026e-07 |     0      | 29963  |   1.2405819987e+11   |
| 9.66991901113e-07 |     1      | 891897 |    75100633997.4     |
| 9.18215554055e-07 |     2      | 104355 |  2.51408938264e+11   |
| 9.70976745236e-07 |     3      | 14068  |    91016341181.7     |
+-------------------+------------+--------+----------------------+
[4 rows x 8 columns]

In [73]:
simple_clustering['cluster_info']['cluster_id', 'size'].tail()

Columns:
	cluster_id	int
	size	int

Rows: 4

Data:
+------------+--------+
| cluster_id |  size  |
+------------+--------+
|     0      | 29963  |
|     1      | 891897 |
|     2      | 104355 |
|     3      | 14068  |
+------------+--------+
[4 rows x 2 columns]

In [74]:
simple_clustering.show()

Canvas is accessible via web browser at the URL: http://localhost:55776/index.html
Opening Canvas in default web browser.

In [77]:
simple_clustering.get('cluster')

TypeError: __init__() takes exactly 2 arguments (1 given)